{% if request.user.is_authenticated %}
<p><a href="{% url 'home' %}">Home</a> |
     <a href="{% url 'account' %}">Account</a> |
     <a href="{% url 'logout' %}">Logout</a></p>
<p>Hello, {{request.user.username}}</p>
{% else %}
<p>
    <a href="{% url 'home' %}">Home</a> | 
    <a href="{%  url 'register' %}">Register</a> | 
    <a href="{% url 'login' %}">Login</a>
</p>
{% endif %}
<hr>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
